# next.js
/.next/
/out/
next-env.d.ts

# prod
dist/

# dev
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.vercel

# deps
node_modules/

# env
.env*
!.env.example

# logs
*.log

# misc
.DS_Store

# typescript
*.tsbuildinfo
